1.What is a database? Differentiate between SQL and NoSQL databases.
ans:A database is an organized collection of data, so that it can be easily accessed and managed.You can organize data into
    tables, rows, columns, and index it to make it easier to find relevant information.A database is usually controlled by
    a database management system (DBMS).
    
    -SQL
    1)RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
    2)These databases have fixed or static or predefined schema
    3)These databases are not suited for hierarchical data storage.
    4)These databases are best suited for complex queries
    5)Vertically Scalable
    6)Follows ACID property
    7)Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc.
    
    -NoSQL
    1)Non-relational or distributed database system.
    2)They have dynamic schema
    3)These databases are best suited for hierarchical data storage.
    4)These databases are not so good for complex queries
    5)Horizontally scalable
    6)Follows CAP(consistency, availability, partition tolerance)
    7)Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc.

2.What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
ans:DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema.
    It simply deals with descriptions of the database schema and is used to create and modify the structure of database
    objects in the database.
    
    CREATE: This command is used to create the database or its objects (like table, index, function, views, store
    procedure, and triggers). Example query:-
    CREATE DATABASE if not EXISTS test1;
    
    DROP: This command is used to delete objects from the database. Example query:-
    DROP TABLE test_table;
    
    ALTER: This is used to alter the structure of the database. ALTER TABLE is used to add, delete/drop or modify columns
    in the existing table. It is also used to add and drop various constraints on the existing table. Example query:-
    ALTER TABLE test.test_table ADD(c6 VARCHAR(30));
    
    TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.
    Example query:-
    TRUNCATE TABLE  test_table;
    Note:- original structure of the table will remain only the data will get erased from the table.

3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.
ans:The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation
    Language and this includes most of the SQL statements. It is the component of the SQL statement that controls access to
    data and to the database.
    
    INSERT: It is used to insert data into a table. Example query:-
    insert into test.test_table values(123, 'sagar', 234.56, 234, 'patel','abc')
    
    UPDATE: It is used to update existing data within a table. Example query:-
    UPDATE test.test_table SET c2='Har' WHERE c6= 'abc';
    
    DELETE: It is used to delete records from a database table. Example query:-
    DELETE FROM test.test_table WHERE c2= 'Har';

4.What is DQL? Explain SELECT with an example.
ans:DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to
    get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL
    statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement.
    
    SELECT: It is used to retrieve data from the database. Example query:-
    select c1,c5 from test.test_table

5.Explain Primary Key and Foreign Key.
ans:Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL
    values. It is either an existing table column or a column that is specifically generated by the database according to a
    defined sequence.
    
    Foreign Key: A foreign key is a column or group of columns in a relational database table that provides a link between
    data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

6.Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
ans:Python code to connect MySQL to python is shown below.
    import mysql.connector
    mydb=mysql.connector.connect(
      host="localhost",
      user="abc",
      password="password"
    )
    print(mydb)
    mycursor=mydb.cursor()
    mycursor.execute("CREATE DATABASE if not exists test2")
    
    cursor():
    It is an object that is used to make the connection for executing SQL queries. It acts as middleware between
    SQL database connection and SQL query. It is created after giving connection to SQL database.
    
    execute():
    This method executes the given database operation (query or command). The parameters found in the tuple or dictionary
    are bound to the variables in the operation.

7.Give the order of execution of SQL clauses in an SQL query.
ans:The order in which the clauses in queries are executed is as follows:

    1)FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.
    2)WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.
    3)GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.
    4)HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.
    5)SELECT: The SELECT clause is executed to derive all desired columns and expressions.
    6)ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.
    7)LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.